/Public/assets/css/*
!/Public/assets/css/README.md
/Public/assets/js/*
!/Public/assets/js/README.md
/Public/assets/images/*
!/Public/assets/images/README.md
!/Public/assets/images/*.svg
/Storage/Cache/
/Storage/Logs/*
!/Storage/Logs/README.md
/Storage/Uploads/*
!/Storage/Uploads/README.md
/node_modules/
/Tests/Integration/*
!/Tests/Integration/README.md
/Tests/Unit/*
!/Tests/Unit/README.md
/vendor/

.env
.idea/
.nova/
.DS_Store
composer.lock
